* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button,
textarea {
  border: 0;
  background: none;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

input[type=search] {
  -moz-appearance: textfield;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Open Sans", "Arial", sans-serif;
  background: rgb(32, 9, 34);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
  color: rgb(239, 239, 239);
}
body.hidden {
  max-height: 100vh;
  overflow: hidden;
}

.container {
  width: calc(100% - 40px);
  margin: 0 auto;
}

header {
  background: rgb(54, 16, 57);
  height: 64px;
  position: sticky;
  top: 0;
  z-index: 9;
}
header .container {
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.header__left {
  display: flex;
  align-items: center;
  gap: 25px;
  padding-left: 10px;
}

.burger {
  display: none;
}

.header__logo {
  height: 40px;
  width: auto;
  aspect-ratio: 106/40;
}
.header__logo img {
  width: 100%;
  height: 100%;
  display: block;
}

.icon {
  fill: rgb(136, 123, 143);
}

.header__right {
  display: flex;
  gap: 10px;
}

.header__search {
  display: flex;
  align-items: center;
  gap: 10px;
  min-width: 300px;
  height: 44px;
  padding: 0 12px;
  border: 1px solid rgb(110, 67, 124);
  background: rgb(80, 44, 86);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25) inset;
  border-radius: 2px;
  color: rgb(136, 123, 143);
  transition: 0.2s ease;
  line-height: 1.4;
}
.header__search svg-icon-sprite {
  width: 16px;
  height: 16px;
}
.header__search:hover {
  background: rgb(32, 9, 34);
}

.header__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  padding: 0 12px;
  text-align: center;
  font-weight: 600;
  line-height: 1;
  color: rgb(242, 242, 242);
  text-transform: uppercase;
  border: 1px solid rgb(100, 52, 106);
  border-radius: 2px;
  background: rgb(80, 36, 84);
  transition: 0.2s ease;
}
.header__btn:hover {
  background: rgb(85, 180, 0);
}

.sidebar {
  position: fixed;
  left: 0;
  top: 64px;
  height: calc(100vh - 64px);
  width: 232px;
  border-right: 1px solid rgb(63, 27, 68);
  padding: 12px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  z-index: 9;
  background: rgb(32, 9, 34);
}
.sidebar .header__search {
  display: none;
}

.sidebar__menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.sidebar__list {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.sidebar__list a {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 44px;
  padding: 0 20px;
  color: rgb(136, 123, 143);
  font-size: 14px;
  line-height: 1.4;
  font-weight: 700;
  transition: 0.2s;
  background: rgb(54, 16, 57);
  text-transform: uppercase;
}
.sidebar__list a svg-icon-sprite {
  width: 20px;
  height: 20px;
  transition: 0.2s;
}
.sidebar__list a svg path {
  fill: rgb(136, 123, 143);
  transition: 0.2s;
}
.sidebar__list a:hover {
  color: rgb(227, 212, 236);
  background: rgb(86, 35, 92);
}
.sidebar__list a:hover .icon {
  fill: rgb(227, 212, 236);
}
.sidebar__list a:hover svg path {
  fill: rgb(227, 212, 236);
}

.sidebar__footer {
  margin-top: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4px;
}
.sidebar__footer a {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 4px;
  height: 60px;
  padding: 0 4px;
  color: rgb(136, 123, 143);
  font-size: 12px;
  line-height: 1.2;
  font-weight: 700;
  transition: 0.2s;
  background: rgb(63, 27, 68);
  text-transform: uppercase;
}
.sidebar__footer a svg-icon-sprite,
.sidebar__footer a img {
  width: 16px;
  height: 16px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.2s;
}
.sidebar__footer a:hover {
  color: rgb(227, 212, 236);
  background: rgb(86, 35, 92);
}
.sidebar__footer a:hover .icon {
  fill: rgb(227, 212, 236);
}

.main {
  padding-left: 232px;
}

.top {
  padding: 20px 0 0;
}

.top__banner {
  background: linear-gradient(94.52deg, rgb(67, 0, 46) 22.28%, rgba(67, 0, 46, 0)), url("/assets/images/bgpattern.png"), rgb(67, 0, 46);
  background-size: contain, 270px 106px, contain;
  height: 280px;
  padding: 28px;
  position: relative;
}

.top__banner__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 592px;
}
.top__banner__content p:nth-child(1) {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
}
.top__banner__content p:nth-child(2) {
  margin-top: 4px;
  font-size: 40px;
  background: linear-gradient(180deg, rgb(252, 243, 21) 0%, rgb(251, 156, 12) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  filter: drop-shadow(0 4px 4px rgb(50, 0, 34));
}
.top__banner__content a {
  margin-top: auto;
  background: rgb(85, 180, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 58px;
  width: 220px;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 2px;
  transition-duration: 0.2s;
  color: rgb(255, 255, 255);
}
.top__banner__content a:hover {
  background: rgb(105, 226, 0);
}

.top__banner__img img {
  position: absolute;
}
.top__banner__img img:nth-child(1) {
  width: 114px;
  top: 31px;
  right: 240px;
  transform: rotate(-20deg);
}
.top__banner__img img:nth-child(2) {
  top: 30px;
  right: 30px;
  width: 206px;
  transform: rotate(20deg);
}

.top--menu {
  position: sticky;
  top: 64px;
  background: rgb(32, 9, 34);
  z-index: 9;
  border-bottom: 1px solid rgb(63, 27, 68);
  padding: 0 0 2px;
}

.top__menu {
  position: relative;
}
.top__menu::after {
  content: "";
  position: absolute;
  height: 60%;
  width: 60px;
  right: 0;
  top: 12%;
  background: linear-gradient(270deg, rgb(32, 9, 34) 10%, rgba(255, 255, 255, 0) 100%);
}

.top__menu__row {
  overflow-x: auto;
  padding: 11px 0 14px;
}
.top__menu__row::-webkit-scrollbar {
  display: block;
  height: 11px;
}
.top__menu__row::-webkit-scrollbar-thumb {
  background: rgb(92, 59, 97);
}
.top__menu__row::-webkit-scrollbar-track {
  background: transparent;
}
.top__menu__row ul {
  display: flex;
  gap: 12px;
  min-width: -moz-max-content;
  min-width: max-content;
}
.top__menu__row ul li:last-child {
  position: relative;
  z-index: 2;
}
.top__menu__row ul a {
  display: flex;
  align-items: center;
  gap: 6px;
  color: rgb(203, 188, 213);
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  border-radius: 2px;
  transition-duration: 0.2s;
  padding: 12px;
}
.top__menu__row ul a svg {
  width: 16px;
  height: 16px;
}
.top__menu__row ul a svg path {
  transition-duration: 0.2s;
  fill: rgb(203, 188, 213);
}
.top__menu__row ul a:hover {
  color: rgb(227, 212, 236);
  background: rgb(92, 59, 97);
}
.top__menu__row ul a:hover svg path {
  transition-duration: 0.2s;
  fill: rgb(227, 212, 236);
}

.cards {
  padding: 12px 0 0;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.cards__row {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cards__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cards__title {
  font-size: 24px;
  line-height: 1.4;
  color: rgb(239, 239, 239);
  font-weight: 700;
}

.cards__nav {
  display: flex;
  align-items: center;
  gap: 16px;
}
.cards__nav p {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.4;
  text-transform: uppercase;
  color: rgb(193, 185, 194);
}

.cards__arrows {
  display: flex;
  gap: 4px;
}
.cards__arrows span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border: 1px solid rgb(203, 173, 218);
  border-radius: 2px;
}
.cards__arrows span:nth-child(1) {
  border: 1px solid rgb(49, 33, 51);
}
.cards__arrows span:nth-child(1) .icon {
  fill: rgb(49, 33, 51);
}
.cards__arrows svg-icon-sprite {
  width: 20px;
  height: 20px;
}
.cards__arrows svg-icon-sprite .icon {
  fill: rgb(203, 188, 213);
}

.cards__list {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 16px;
}

.cards__item {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.cards__item:hover .cards__item__body::after {
  opacity: 1;
}
.cards__item:hover .cards__item__nav {
  opacity: 1;
}

.cards__item__body {
  aspect-ratio: 160/240;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cards__item__body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(119, 0, 81, 0.7);
  box-shadow: inset 0 0 40px 32px rgb(77, 0, 53);
  transition: 0.3s;
  opacity: 0;
}

.cards__item__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cards__item__nav {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 40px;
  z-index: 1;
  transition: 0.3s;
  opacity: 0;
}
.cards__item__nav svg-icon-sprite {
  width: 56px;
  height: 56px;
}
.cards__item__nav svg-icon-sprite .icon {
  fill: #fff;
}
.cards__item__nav span {
  color: rgb(217, 217, 217);
  font-weight: 700;
}

.cards__item__title {
  font-size: 14px;
  line-height: 1.4;
  color: rgb(136, 123, 143);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.banner--wrap {
  padding-top: 46px;
  overflow: hidden;
}

.banner {
  background: linear-gradient(180deg, rgba(91, 43, 95, 0.9) 0%, #401e46 100%), url("/assets/images/triangle-pattern.webp");
  background-size: cover, auto 42%;
  background-position-x: 5%;
  height: 182px;
  display: flex;
  align-items: center;
  padding: 20px 34px;
  position: relative;
}

.banner__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
}
.banner__content p span:nth-child(2) {
  background: linear-gradient(180deg, rgb(252, 243, 21) 0%, rgb(251, 156, 12) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner__content a {
  background: rgb(85, 180, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 220px;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 2px;
  transition-duration: 0.2s;
  color: rgb(255, 255, 255);
}
.banner__content a:hover {
  background: rgb(105, 226, 0);
}

.banner__content__img {
  position: absolute;
  right: 20px;
  top: -30px;
  width: 566px;
}

.content--wrap {
  padding: 46px 0;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__item {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
}
.content__item h2,
.content__item h3 {
  font-size: 33px;
  font-weight: 600;
}
.content__item p {
  margin-top: 20px;
}
.content__item p:nth-child(2) {
  margin-top: 10px;
}
.content__item ol {
  padding-left: 50px;
  margin-top: 20px;
  list-style: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.content__item ol ul {
  margin-top: 15px;
}
.content__item ul {
  padding-left: 50px;
  margin-top: 20px;
  list-style: disc;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.content__table {
  margin-top: 20px;
}
.content__table:nth-child(2) {
  margin-top: 10px;
}
.content__table table {
  border-collapse: collapse;
}
.content__table th,
.content__table td {
  padding: 12px;
  border: 1px solid rgb(239, 239, 239);
}

.footer--wrap {
  background: rgb(54, 16, 57);
}

.footer {
  padding: 20px 20px 32px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer__top {
  display: flex;
  justify-content: center;
  gap: 12px;
}
.footer__top a {
  height: 44px;
  width: 160px;
  font-weight: 700;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  color: rgb(203, 188, 213);
  border: 1px solid rgb(203, 173, 218);
  border-radius: 2px;
  transition-duration: 0.2s;
  gap: 8px;
  text-transform: uppercase;
}
.footer__top a svg-icon-sprite {
  width: 24px;
  height: 24px;
}
.footer__top a svg-icon-sprite .icon {
  fill: rgb(203, 188, 213);
}
.footer__top a:hover {
  border-color: rgb(239, 239, 239);
}

.footer__menu {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 34px;
  font-size: 12px;
  line-height: 1.4;
  font-weight: 600;
  color: rgb(136, 123, 143);
}

.footer__menu__title {
  font-weight: 700;
  font-size: 14px;
  color: rgb(163, 146, 172);
}

.footer__column,
.footer__menu__item,
.footer__menu__item ul {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.footer__menu__item:nth-child(2) {
  margin-top: 60px;
}

.footer__pay {
  display: flex;
  justify-content: center;
  gap: 12px;
}
.footer__pay a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 36px;
  background-color: rgb(63, 27, 68);
  border-radius: 2px;
  transition-duration: 0.2s;
  gap: 4px;
}
.footer__pay a span {
  font-size: 12px;
  color: rgb(136, 123, 143);
  font-weight: 700;
  line-height: 1.4;
}
.footer__pay a:hover {
  opacity: 0.6;
}
.footer__pay a:last-child {
  background: none;
  width: -moz-max-content;
  width: max-content;
}

.footer__rating {
  margin: 0 auto;
  width: 40px;
}

.footer__copyright {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 16px;
  color: rgb(136, 123, 143);
  line-height: 1.4;
  font-size: 12px;
}

@media (max-width: 1280px), (orientation: portrait) {
  header {
    z-index: 199;
  }
  .header__left {
    gap: 15px;
    padding-left: 0;
  }
  .header__left svg-icon-sprite:nth-child(1) {
    display: block;
  }
  .header__left svg-icon-sprite:nth-child(2) {
    display: none;
  }
  .header__logo {
    aspect-ratio: 37/40;
  }
  .burger {
    display: block;
    width: 32px;
    height: 32px;
  }
  .burger svg-icon-sprite {
    width: 100%;
    height: 100%;
  }
  .burger.active svg-icon-sprite:nth-child(1) {
    display: none;
  }
  .burger.active svg-icon-sprite:nth-child(2) {
    display: block;
  }
  .sidebar {
    width: 300px;
    z-index: 199;
    transition-duration: 0.3s;
    left: -300px;
  }
  .sidebar .header__search {
    display: flex;
    min-width: auto;
    margin-bottom: 12px;
    font-size: 12px;
    min-height: 44px;
  }
  .sidebar.active {
    left: 0;
  }
  .header .header__search {
    display: none;
  }
  .sidebar__footer {
    margin-top: 50px;
  }
  .main {
    padding-left: 0;
    position: relative;
  }
  .main::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(32, 9, 34, 0.7);
    opacity: 0;
    transition-duration: 0.3s;
    z-index: 99;
    pointer-events: none;
  }
  .main.bg-active::after {
    opacity: 1;
  }
}
@media (orientation: portrait) {
  .sidebar__footer {
    margin-top: auto;
  }
}
@media (max-width: 1024px) {
  .footer__menu {
    gap: 24px;
  }
  .footer__column,
  .footer__menu__item,
  .footer__menu__item ul {
    gap: 15px;
  }
  .footer__menu__item:nth-child(2) {
    margin-top: 40px;
  }
  .top__banner__content {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .sidebar__footer {
    margin-top: 50px;
  }
  .sidebar {
    width: 100%;
    left: -100%;
  }
  .header__btn {
    height: 36px;
    font-size: 12px;
  }
  .container {
    width: calc(100% - 24px);
  }
  .top {
    padding: 12px 0 0;
  }
  .top__banner {
    aspect-ratio: 355/307;
    height: auto;
    padding: 28px 10px;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
  }
  .top__banner__content {
    width: 100%;
    height: auto;
  }
  .top__banner__content p:nth-child(1) {
    font-size: 18px;
  }
  .top__banner__content p:nth-child(2) {
    font-size: 24px;
  }
  .top__banner__img img:nth-child(1) {
    width: 80px;
    top: 10px;
    right: 45%;
  }
  .top__banner__img img:nth-child(2) {
    top: 0;
    right: 5%;
    width: 126px;
  }
  .top__banner__content a {
    margin-top: 15px;
  }
  .top__menu__row {
    padding: 10px 0;
  }
  .cards__arrows {
    display: none;
  }
  .cards__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  .banner__content__img {
    display: none;
  }
  .banner {
    padding: 20px;
  }
  .banner--wrap {
    padding-top: 35px;
  }
  .content--wrap {
    padding: 35px 0;
  }
  .cards__item:last-child {
    display: none;
  }
  .content__item {
    font-size: 16px;
  }
  .content__item h2,
  .content__item h3 {
    font-size: 30px;
    line-height: 1.2;
  }
  .content__item ol {
    padding-left: 30px;
  }
  .content__item ul {
    padding-left: 30px;
  }
  .footer__menu {
    grid-template-columns: repeat(3, 1fr);
    gap: 34px 24px;
  }
  .footer {
    padding: 30px 10px;
  }
  .footer__column:last-child {
    display: none;
  }
  .top--menu {
    top: 63px;
  }
  body.hidden {
    max-height: none;
  }
}/*# sourceMappingURL=styles.css.map */